@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

body {
    background-image: url(../images/notebook-blue-wood-table\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#cabeca {
    width: 65%;
    margin: 20px auto;
}

.titulo-principal {
    font-size: 2.2em;
    font-family: 'Walter Turncoat', cursive;
    color: #221d6b;
    margin-left: 10px;
}

.descricao {
    margin: 25px 0;
}

#conteudo {
    width: 65%;
    margin: 0 auto;
    display: flex;
}

.folha {
    flex: 1;
}

.folha-dois {
    flex-grow: 1.35;
}